.headerContainer {
  background-color: rgb(34,41,44);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  position: fixed;
  color: white;
}

.headerTitle {
  font-size: 2.25rem;
  font-weight: 100;
}

/* Character */

.charactersContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  gap: .5rem;
}

.character {
  height: 85px;
  width: 85px;
  pointer-events: none;
}

/* Timer */

.timer {
  font-size: 2rem;
}

@media (max-width: 1300px) {
  .charactersContainer {
    gap: 1.5rem;
  }
}

@media (max-width: 670px) {
  .headerTitle {
    font-size: 1.5rem;
  }

  .charactersContainer {
    display: flex;
    align-items: center;
    gap: .25rem;
  }

  .characterContainer {
    width: 5rem;
    gap: .4rem;
  }

  .character {
    height: 65px;
    width: 65px;
    pointer-events: none;
  }

  .timer {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .headerTitle {
    font-size: 1.25rem;
  }

  .charactersContainer {
    display: flex;
    align-items: center;
    gap: .1rem;
  }

  .characterContainer {
    width: 3.5rem;
  }

  .character {
    height: 45px;
    width: 45px;
    pointer-events: none;
  }

  .timer {
    font-size: 1.25rem;
  }
}