@font-face {
  font-family: 'Orbitron';
  src: url(../fonts/Orbitron.ttf) format('truetype');
}

.headerContainer {
  background-color: rgb(34,41,44);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  position: fixed;
  color: white;
}

.headerContainer.inactive {
  opacity: 0.05;
}

.headerTitle {
  font-size: 2.75rem;
  font-weight: 100;
}

/* Character */

.charactersContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.characterContainer {
  display: flex;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  gap: .5rem;
}

.characterContainer > p {
  font-size: 1rem;
}

.character {
  height: 90px;
  width: 90px;
  pointer-events: none;
}

.found {
  opacity: 0.1;
}

/* Timer */

.timerContainer {
  width: 150px;
}

.timer {
  font-size: 2rem;
  visibility: visible;
}


.timer.inactive {
  visibility: hidden;
}

@media (max-width: 1300px) {
  .headerTitle {
    font-size: 2rem;
    text-align: center;
  }

  .charactersContainer {
    gap: 1.5rem;
  }

  .timerContainer {
    width: 135px;
  }

  .timer {
    font-size: 1.85rem;
  }
}

@media (max-width: 670px) {
  .headerTitle {
    font-size: 1.5rem;
  }

  .charactersContainer {
    display: flex;
    align-items: center;
    gap: .25rem;
  }

  .characterContainer {
    width: 5rem;
    gap: .4rem;
  }

  .characterContainer > p {
    font-size: .85rem;
  }

  .character {
    height: 65px;
    width: 65px;
    pointer-events: none;

  }

  .timerContainer {
    width: 100px;
  }

  .timer {
    font-size: 1.5rem;

  }

}

@media (max-width: 500px) {
  .headerTitle {
    font-size: 1.15rem;
  }

  .charactersContainer {
    display: flex;
    align-items: center;
    gap: 0
  }

  .characterContainer {
    width: 3.5rem;
  }

  .characterContainer > p {
    font-size: .65rem;
  }

  .character {
    height: 40px;
    width: 40px;
    pointer-events: none;
  }

  .timer {
    font-size: 1.15rem;
    width: 80px;
  }
}