.markerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -25%);
}

.marker {
  height: 70px;
  width: 70px;
  border: 2px solid #ffff;
  z-index: 20;
  border-radius: 8px;
}

.characterName {
  list-style-type: none;
  background-color: rgb(30, 42, 53);
  color: #ffff;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(103, 98, 202);
  border-radius: 8px;
  font-size: .9rem;
  cursor: pointer;
}

.characterName:hover {
  background-color: rgb(103, 98, 202);
}

@media (max-width: 1300px) {
  .marker {
    height: 60px;
    width: 60px;
  }

  .characterName {
    font-size: .85rem;
  }
}

@media (max-width: 900px) {
  .marker {
    height: 50px;
    width: 50px;
  }

  .characterName {
    font-size: .80rem;
  }
}

@media (max-width: 670px) {
  .marker {
    height: 40px;
    width: 40px;
  }

  .characterName {
    font-size: .70rem;
  }
}
@media (max-width: 500px) {
  .marker {
    height: 30px;
    width: 30px;
  }

  .characterName {
    font-size: .60rem;
  }
}
